@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }

  * {
    @apply transition-all;
    scrollbar-width: thin;
  }

  .nav-item {
    @apply cursor-pointer hover:text-[#082832] md:hover:text-[#17CF97];
  }
  .highlight {
    @apply relative inline-block before:absolute before:-bottom-1 before:left-0 before:block before:h-[0.4em] before:w-full before:-skew-y-3 before:bg-gradient-to-r before:from-[#17CF97]/50 before:to-transparent;
  }

  .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
}
